.spotlight-hero-media {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(from var(--color-black) r g b / .20);
        border-radius: .5rem;
    }
}

.spotlight-hero-media-img {
    width: 100%;
    border-radius: .5rem;
}

.spotlight-hero-media-action {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    background-color: rgb(from var(--color-rich-charcoal) r g b / .40);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    @media (min-width: 768px) {
        width: 5rem;
        bottom: 2rem;
        right: 2rem;
    }
    @media (min-width: 1470px) {
        width: 6rem;
        bottom: 4rem;
        right: 4rem;
    }
}

.spotlight-hero-media-action-icon {
    width: 1.1rem;
    height: 1rem;
    fill: var(--color-white);
    @media (min-width: 768px) {
        width: 1.8rem;
        height: 1.6rem;
    }
    @media (min-width: 1470px) {
        width: 1.5rem;
        height: 1.4rem;
    }
}

.individual-spotlight-gallery {
    display: grid;
    grid-template-columns: 100%;
    gap: 1.6rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.individual-spotlight-gallery-img {
    width: 100%;
    border-radius: .5rem;
}

.individual-spotlight-highlights {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 3.2rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
        column-gap: 5rem;
    }
    @media (min-width: 1470px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.individual-spotlight-highlight {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media (min-width: 1470px) {
        gap: 2.5rem;
    }
}

.individual-spotlight-highlight-title {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 0;
        width: 5rem;
        height: 1px;
        border-radius: 2px;
        background-color: var(--color-warm-copper);
    }
}

.individual-spotlight-highlight-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.individual-spotlight-highlight-text p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
}

.individual-spotlight-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media (min-width: 1200px) {
        width: 84%;
        margin-inline: auto;
        text-align: center;
    }
}

.individual-spotlight-description p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
}