.terms-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media (min-width: 768px) {
        gap: 6rem;
    }
    @media (min-width: 1200px) {
        gap: 8rem;
    }
    @media (min-width: 1470px) {
        gap: 10rem;
    }
}

.terms-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 6rem;
    }
    @media (min-width: 1470px) {
        gap: 12rem;
    }
}

.terms-item-head {
    @media (min-width: 1200px) {
        width: 33%;
        flex-shrink: 0;
    }
}

.terms-item-title {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    color: var(--color-deep-clay);
    font-family: var(--font-heading);
    margin: 0;
}

.terms-items-content {
    @media (min-width: 1200px) {
        flex: 1;
    }
}

.terms-item-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.terms-item-text p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
}

.terms-item-text a {
    font: inherit;
    color: var(--color-rich-charcoal);
    text-decoration: underline;
}

.terms-item-text strong {
    font-weight: var(--fw-regular);
    color: var(--color-rich-charcoal);
}