.form {
    width: 100%;
}

.form-content {
    display: grid;
    grid-template-columns: 100%;
    gap: 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-label {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    font-family: var(--font-heading);
    color: var(--color-rich-charcoal);
    margin: 0;
}

.form-label-required {
    color: var(--color-error);
}

.form-field {
    width: 100%;
    background-color: transparent;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    outline: none;
    border: 1px solid rgba(from var(--color-rich-charcoal) r g b / .30);
    border-radius: .5rem;
    font-size: var(--fs-base);
    color: var(--color-rich-charcoal);
    transition: border-color, color, .3s ease;
    @include placeholder {
        color: rgba(from var(--color-rich-charcoal) r g b / .20);
    }
    &:focus {
        border-color: var(--color-rich-charcoal);
    }
    .form-group.has-error & {
        border-color: var(--color-error);
    }
    &--textarea {
        min-height: 17rem;
        resize: none;
    }
}

.form-actions .button {
    width: fit-content;
}

.form-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    @media (min-width: 768px) {
        gap: 2rem;
    }
    @media (min-width: 1200px) {
        gap: 3rem;
    }
}

.form-message-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-message-icon {
    width: 9rem;
    height: 8rem;
    @media (min-width: 1470px) {
        width: 11.2rem;
        height: 10rem;
    }
}

.form-message-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    @media (min-width: 1200px) {
        gap: 1rem;
    }
    @media (min-width: 1470px) {
        gap: 2rem;
    }
}

.form-message-text h3 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
}

.form-message-text p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
}