.header {
    --header-content-pb: 2.4rem;
    --header-content-pi: 1.6rem;
    --header-content-color: var(--color-white);
    --header-actions-gap: .7rem;
    --logo-w: 15rem;
    --logo-h: 1.7rem;
    position: sticky;
    top: 0;
    transition: background-color, box-shadow, backdrop-filter, .3s ease;
    @media (min-width: 768px) {
        --header-content-pb: 2.5rem;
        --header-content-pi: 3.2rem;
        --header-actions-gap: 1rem;
        --logo-w: 19.7rem;
        --logo-h: 2.2rem;
    }
    @media (min-width: 1200px) {
        --header-content-pi: 3.6rem;
        --header-actions-gap: 1.3rem;
        --logo-w: 17.8rem;
        --logo-h: 2rem;
    }
    @media (min-width: 1440px) {
        --header-content-pb: 4rem;
        --header-content-pi: 5.5rem;
        --header-actions-gap: 2rem;
        --logo-w: 22.2rem;
        --logo-h: 2.5rem;
    }
    &.scrolled {
        --header-content-color: var(--color-deep-clay);
        background-color: rgb(from var(--color-white) r g b / .80);
        box-shadow: 0 .4rem 2.4rem 0 rgb(from var(--color-black) r g b / .05);
        backdrop-filter: blur(5rem);
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--header-content-pb);
    padding-inline: var(--header-content-pi);
}

.burger {
    width: 2.9rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (min-width: 1200px) {
        display: none;
    }
}

.burger-line {
    background-color: var(--header-content-color);
    height: .1rem;
    &:not(:last-child) {
        width: 2.9rem;
    }
    &:last-child {
        width: 1.7rem;
    }
}

.logo-link {
    display: block;
}

.logo-media {
    .header & {
        width: var(--logo-w);
        height: var(--logo-h);
        fill: var(--header-content-color);
    }
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--header-actions-gap);
}

.header-actions-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions-icon {
    fill: var(--header-content-color);
    &--magnifier {
        width: 1.7rem;
        height: 1.7rem;
        @media (min-width: 768px) {
            width: 2.2rem;
            height: 2.2rem;
        }
        @media (1200px <= width < 1440px) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    &--cart {
        width: 1.7rem;
        height: 1.7rem;
        @media (min-width: 768px) {
            width: 2.2rem;
            height: 2.2rem;
        }
        @media (1200px <= width < 1440px) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    &--user {
        width: 1.5rem;
        height: 1.7rem;
        @media (min-width: 768px) {
            width: 2rem;
            height: 2.2rem;
        }
        @media (1200px <= width < 1440px) {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}

.main-nav {
    @media (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
    }
}

.main-nav-content {
    @media (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        background-color: var(--color-white);
    }
}

.main-nav-foot {
    @media (max-width: 1199px) {
        margin-block-start: auto;
    }
}

.main-nav-head, .main-nav-foot {
    @media (min-width: 1200px) {
        display: none;
    }
}