.hero {

    --hero-content-w: 100%;
    --hero-content-gap: 2rem;
    @media (min-width: 1200px) {
        --hero-content-w: 55%;
    }
    @media (min-width: 1470px) {
        --hero-content-w: 40%;
        --hero-content-gap: 3rem;
    }

    display: grid;
    place-items: center;
    isolation: isolate;
    position: relative;
    width: 100%;
    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        position: relative;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(from var(--color-black) r g b / .50);
    }
}

.hero-media {
    width: 100%;
    z-index: 0;
    position: relative;
    display: grid;
    place-items: center;
    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

.hero-media-picture {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    .hero.video-loaded & {
        opacity: 0;
    }
}

.hero-media-video {
    width: 100%;
    opacity: 0;
    aspect-ratio: .55;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    .hero.video-loaded & {
        opacity: 1;
    }
    @media (min-width: 768px) {
        aspect-ratio: .86;
    }
    @media (min-width: 1200px) {
        aspect-ratio: 2.25;
    }
}

.hero-media-img {
    width: 100%;
    aspect-ratio: .55;
    object-fit: cover;
    @media (min-width: 768px) {
        aspect-ratio: .86;
    }
    @media (min-width: 1200px) {
        aspect-ratio: 2.25;
    }
}

.hero-content {
    z-index: 2;
    padding-inline: 1.6rem;
    width: var(--hero-content-w);
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--hero-content-gap);
    @media (min-width: 1200px) {
        padding-inline: 0;
    }
}

.hero-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-content-title {
    text-align: center;
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-family: var(--font-heading);
    color: var(--color-white);
    margin: 0;
}

.hero-content-description {
    text-align: center;
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-white);
    margin: 0;
}

.hero-content-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    @media (min-width: 1200px) {
        gap: 2rem;
    }
}