.page-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-block-end: 3.2rem;
    @media (min-width: 768px) {
        width: 82%;
        margin-inline: auto;
    }
    @media (min-width: 1200px) {
        margin-block-end: 4rem;
        width: 58%;
    }
    @media (min-width: 1470px) {
        margin-block-end: 6rem;
        gap: 3rem;
    }
    &--align-start {
        justify-content: flex-start;
        align-items: flex-start;
        margin-inline: initial;
        width: 100%;
    }
    .products-hero & {
        width: 100%;
        margin-block-end: 0;
        @media (min-width: 768px) {
            width: 28rem;
            flex-shrink: 0;
        }
        @media (min-width: 1470px) {
            width: 42rem;
        }
    }
    .section-head & {
        margin-block-end: 0;
    }
}

.page-head-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    .page-head--align-start & {
        text-align: left;
    }
}

.page-title {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    color: var(--color-deep-clay);
    font-family: var(--font-heading);
    margin: 0;
}

.page-head-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-head-text p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: rgb(from var(--color-rich-charcoal) r g b / .70);
    margin: 0;
}