.section {

    --section-padding-block-start: 8rem;
    --section-padding-block-end: 8rem;
    --container-width: 100%;

    @media (min-width: 768px) {
        --section-padding-block-start: 9rem;
        --section-padding-block-end: 9rem;
        --container-width: #{map-get($container-max-widths, md)};
    }

    @media (min-width: 992px) {
        --container-width: #{map-get($container-max-widths, lg)};
    }

    @media (min-width: 1200px) {
        --section-padding-block-start: 10rem;
        --section-padding-block-end: 10rem;
    }
    
    @media (min-width: 1470px) {
        --section-padding-block-start: 15rem;
        --section-padding-block-end: 15rem;
        --container-width: #{map-get($container-max-widths, xl)};
    }

    padding-block-start: var(--section-padding-block-start);
    padding-block-end: var(--section-padding-block-end);

    &--pb-0 {
        --section-padding-block-start: 0;
        --section-padding-block-end: 0;
    }

    &--pbs-0 {
        --section-padding-block-start: 0;
    }

    &--pbe-0 {
        --section-padding-block-end: 0;
    }

    &--half-bleed {
        padding-inline-start: calc(((100% - var(--container-width)) / 2) + calc(var(--bs-gutter-x, 1.5rem)));
    }
}