.section {

    --section-padding-block-start: 8rem;
    --section-padding-block-end: 8rem;
    --container-width: 100%;

    @media (min-width: 768px) {
        --section-padding-block-start: 9rem;
        --section-padding-block-end: 9rem;
        --container-width: #{map-get($container-max-widths, md)};
    }

    @media (min-width: 992px) {
        --container-width: #{map-get($container-max-widths, lg)};
    }

    @media (min-width: 1200px) {
        --section-padding-block-start: 10rem;
        --section-padding-block-end: 10rem;
    }
    
    @media (min-width: 1470px) {
        --section-padding-block-start: 15rem;
        --section-padding-block-end: 15rem;
        --container-width: #{map-get($container-max-widths, xl)};
    }

    padding-block-start: var(--section-padding-block-start);
    padding-block-end: var(--section-padding-block-end);

    &--pb-0 {
        --section-padding-block-start: 0;
        --section-padding-block-end: 0;
    }

    &--pbs-0 {
        --section-padding-block-start: 0;
    }

    &--pbe-0 {
        --section-padding-block-end: 0;
    }

    &--half-bleed {
        padding-inline-start: calc(((100% - var(--container-width)) / 2) + calc(var(--bs-gutter-x, 1.5rem)));
    }
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    @media (min-width: 768px) {
        gap: 3.2rem;
    }
    @media (min-width: 1200px) {
        gap: 4rem;
    }
    @media (min-width: 1470px) {
        gap: 6rem;
    }
    &--horizontal {
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
        .section--half-bleed & {
            @media (min-width: 768px) {
                flex-direction: column;
            }
            @media (min-width: 1200px) {
                flex-direction: row;
                align-items: center;
                gap: 4.5rem;
            }
            @media (min-width: 1470px) {
                gap: 10.5rem;
            }
        }
    }
}

.section-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 1470px) {
        gap: 4rem;
    }
    .section-content--horizontal & {
        @media (min-width: 768px) {
            width: 28rem;
            flex-shrink: 0;
        }
        @media (min-width: 1200px) {
            width: 45rem;
        }
    }
    .section--half-bleed .section-content--horizontal & {
        @media (min-width: 768px) {
            width: 100%;
        }
        @media (min-width: 1200px) {
            width: 28rem;
            flex-shrink: 0;
        }
        @media (min-width: 1470px) {
            width: 38rem;
        }
    }
}

.section-body {
    .section-content--horizontal & {
        @media (min-width: 768px) {
            flex: 1;
            min-width: 0;
        }
    }
    .section--half-bleed .section-content--horizontal & {
        @media (min-width: 1200px) {
            flex: 1;
            min-width: 0;
        }
    }
}

.section-title {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 0;
        width: 6rem;
        height: .1rem;
        border-radius: .2rem;
        background-color: var(--color-warm-copper);
        @media (min-width: 768px) {
            width: 8rem;
        }
        @media (min-width: 1470px) {
            width: 10rem;
        }
    }
}

.section-actions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media (min-width: 1470px) {
        gap: 4rem;
    }
}

.section-action .button {
    width: fit-content;
}