.section {

    --section-padding-block-start: 8rem;
    --section-padding-block-end: 8rem;
    --container-width: 100%;

    @media (min-width: 768px) {
        --section-padding-block-start: 9rem;
        --section-padding-block-end: 9rem;
        --container-width: #{map-get($container-max-widths, md)};
    }

    @media (min-width: 992px) {
        --container-width: #{map-get($container-max-widths, lg)};
    }

    @media (min-width: 1200px) {
        --section-padding-block-start: 10rem;
        --section-padding-block-end: 10rem;
    }
    
    @media (min-width: 1470px) {
        --section-padding-block-start: 15rem;
        --section-padding-block-end: 15rem;
        --container-width: #{map-get($container-max-widths, xl)};
    }

    padding-block-start: var(--section-padding-block-start);
    padding-block-end: var(--section-padding-block-end);

    &--pb-0 {
        --section-padding-block-start: 0;
        --section-padding-block-end: 0;
    }

    &--pbs-0 {
        --section-padding-block-start: 0;
    }

    &--pbe-0 {
        --section-padding-block-end: 0;
    }

    &--half-bleed {
        padding-inline-start: calc(((100% - var(--container-width)) / 2) + calc(var(--bs-gutter-x, 1.5rem)));
    }

    &--solid-bg {
        background-color: var(--color-soft-beige);
    }

    &--w-bg {
        display: grid;
        place-items: start;
        isolation: isolate;
        @media (min-width: 1200px) {
            place-items: center;
        }
        > * {
            position: relative;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }
    }

    &--w-bg-content-overlay-desktop {
        > * {
            position: relative;
        }
        @media (min-width: 1200px) {
            display: grid;
            place-items: center;
            isolation: isolate;
            > * {
                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }
        }
    }

}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    @media (min-width: 768px) {
        gap: 3.2rem;
    }
    @media (min-width: 1200px) {
        gap: 4rem;
    }
    @media (min-width: 1470px) {
        gap: 6rem;
    }
    &--horizontal {
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
        .section--half-bleed & {
            @media (min-width: 768px) {
                flex-direction: column;
            }
            @media (min-width: 1200px) {
                flex-direction: row;
                align-items: center;
                gap: 4.5rem;
            }
            @media (min-width: 1470px) {
                gap: 10.5rem;
            }
        }
    }
    &--horizontal:has(.section-head--vertical) {
        @media (max-width: 1199px) {
            align-items: flex-start;
        }
    }
}

.section-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &:not(:has(.page-head)) {
        @media (768px <= width < 1200px) {
            width: 70%;
        }
    }
    
    @media (min-width: 1470px) {
        gap: 4rem;
    }
    &--fw {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .section--half-bleed & {
            width: calc(var(--container-width) - var(--bs-gutter-x, 1.5rem) * 2);
        }
    }
    .section-content--horizontal & {
        @media (min-width: 768px) {
            width: 30rem;
            flex-shrink: 0;
        }
        @media (min-width: 1200px) {
            width: 33.5rem;
        }
        @media (min-width: 1470px) {
            width: 47rem;
        }
    }
    .section--half-bleed .section-content--horizontal & {
        @media (min-width: 768px) {
            width: 100%;
        }
        @media (min-width: 1200px) {
            width: 30rem;
            flex-shrink: 0;
        }
        @media (min-width: 1470px) {
            width: 38rem;
        }
    }

    .section--half-bleed .section-content--horizontal &.section-head--vertical {
        @media (max-width: 1199px) {
            width: calc(var(--container-width) - var(--bs-gutter-x, 1.5rem) * 2);
            flex-direction: column;
            align-items: flex-start;
        }
        @media (768px <= width < 1200px) {
            width: 70%;
        }
    }

    .section--w-bg & {
        @media (max-width: 1199px) {
            margin-block-start: 8rem;
        }
        @media (max-width: 767px) {
            margin-block-start: 4rem;
        }
        @media (min-width: 1200px) {
            width: 43.5rem;
        }
        @media (min-width: 1470px) {
            width: 39rem;
        }
    }
    .section--w-bg-content-overlay-desktop & {
        @media (max-width: 1199px) {
            margin-block-end: 3rem;
        }
        @media (min-width: 1200px) {
            width: 43.5rem;
        }
        @media (min-width: 1470px) {
            width: 39rem;
        }
    }
    .section--inverted & {
        @media (min-width: 768px) {
            order: 2;
        }
    }
}

.section-body {
    .section-content--horizontal & {
        width: 100%;
        @media (min-width: 768px) {
            flex: 1;
            min-width: 0;
        }
    }
    .section--half-bleed .section-content--horizontal & {
        width: 100%;
        @media (min-width: 1200px) {
            flex: 1;
            min-width: 0;
        }
    }
    .section--inverted & {
        @media (min-width: 768px) {
            order: 1;
        }
    }
}

.section-title {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 0;
        width: 6rem;
        height: .1rem;
        border-radius: .2rem;
        background-color: var(--color-warm-copper);
        @media (min-width: 768px) {
            width: 8rem;
        }
        @media (min-width: 1470px) {
            width: 10rem;
        }
    }
    .section--w-bg & {
        color: var(--color-white);
    }
    .section--w-bg-content-overlay-desktop & {
        @media (min-width: 1200px) {
            color: var(--color-white);
        }
    }
}

.section-description {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    margin: 0;
    color: var(--color-rich-charcoal-alpha-70);
    .section--w-bg & {
        color: var(--color-white);
    }
    .section--w-bg-content-overlay-desktop & {
        @media (min-width: 1200px) {
            color: var(--color-white);
        }
    }
}

.section-actions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media (min-width: 1470px) {
        gap: 4rem;
    }
}

.section-action .button {
    width: fit-content;
}

.section-bg {
    width: 100%;
    z-index: -1;
    position: relative;
    display: grid;
    place-items: center;
    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(from var(--color-black) r g b / .40);
    }
}

.section-bg-media {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    .section-bg.video-loaded & {
        opacity: 0;
    }
}

.section-bg-img {
    width: 100%;
}

.section-bg-video {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .section-bg.video-loaded & {
        opacity: 1;
    }
}