.section {

    --section-padding-block-start: 8rem;
    --section-padding-block-end: 8rem;

    @media (min-width: 768px) {
        --section-padding-block-start: 9rem;
        --section-padding-block-end: 9rem;
    }

    @media (min-width: 1200px) {
        --section-padding-block-start: 10rem;
        --section-padding-block-end: 10rem;
    }

    @media (min-width: 1440px) {
        --section-padding-block-start: 15rem;
        --section-padding-block-end: 15rem;
    }

    padding-block-start: var(--section-padding-block-start);
    padding-block-end: var(--section-padding-block-end);

    &--pb-0 {
        --section-padding-block-start: 0;
        --section-padding-block-end: 0;
    }

    &--pbs-0 {
        --section-padding-block-start: 0;
    }

    &--pbe-0 {
        --section-padding-block-end: 0;
    }

    &--half-bleed {
        padding-inline-start: var(--bs-gutter-x, 1.5rem);
        @media (min-width: 768px) {
            padding-inline-start: calc(((100vw - 720px) / 2) + var(--bs-gutter-x, 1.5rem));
        }
        @media (min-width: 992px) {
            padding-inline-start: calc(((100vw - 960px) / 2) + var(--bs-gutter-x, 1.5rem));
        }
        @media (min-width: 1470px) {
            padding-inline-start: calc(((100vw - 1440px) / 2) + var(--bs-gutter-x, 1.5rem));
        }
    }
}