<% extends "./shared/master.html" %>

<% set pageTitle = "Homepage" %>
<% set pageCssClass = "homepage" %>
<% set lang = "en" %>

<% block content %>

<section class="hero">
    <div class="hero-media">
        <picture class="hero-media-picture">
            <source srcset="m/u/hero/hero-desktop.jpg" media="(min-width: 1200px)">
            <source srcset="m/u/hero/hero-tablet.jpg" media="(min-width: 992px)">
            <img src="m/u/hero/hero-mobile.jpg" alt="Hero media picture" class="hero-media-img">
        </picture>
    </div>
    <div class="hero-content">
        <div class="hero-content-text">
            <h1 class="hero-content-title">Crafting Contemporary Heirlooms</h1>
            <p class="hero-content-description">Zahra Ebrahim is a celebration of craftsmanship and timeless designs rooted in storytelling.</p>
        </div>
        <div class="hero-content-actions">
            <a href="" class="button button--hoverable button--primary button--default">
                <span class="button-text">About Us</span>
            </a>
            <a href="" class="button button--hoverable button--secondary button--default">
                <span class="button-text">Spotlight</span>
            </a>
        </div>
    </div>
</section>

<section class="section section--half-bleed section--pbe-0">
    1231312312312311
</section>

<section class="section">
    <div class="container">
        <div>123123123123123</div>
    </div>
</section>

<section class="section section--pbs-0"></section>

<section class="section section--pb-0"></section>

<section class="section"></section>

<section class="section section--pbe-0"></section>

<section class="section"></section>

<section class="section section--pb-0"></section>

<section class="section section--pbe-0"></section>

<section class="section"></section>

<% endblock %>