<% extends "./shared/master.html" %>

<% set pageTitle = "Individual Spotlight" %>
<% set pageCssClass = "innerpage" %>
<% set lang = "en" %>

<% block content %>
<section class="section section--pbs-0">
    <div class="container">
        <div class="section-content">
            <div class="section-head">
                <div class="page-head">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs-content">
                            <a href="" class="breadcrumbs-item">
                                <span class="breadcrumbs-item-text">Home</span>
                            </a>
                            <a href="" class="breadcrumbs-item">
                                <span class="breadcrumbs-item-text">Spotlight</span>
                            </a>
                            <a href="" class="breadcrumbs-item breadcrumbs-item--active">
                                <span class="breadcrumbs-item-text">CIP Lounge, ISB Airport</span>
                            </a>
                        </div>
                    </div>
                    <div class="page-head-info">
                        <h2 class="page-title">INGRAINED: Wood in a Cross-Section of Time, Koel Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="spotlight-hero">
                    <div class="spotlight-hero-media">
                        <img class="spotlight-hero-media-img" src="m/u/spotlights/hero/2.jpg" alt="Spotlight" />
                    </div>
                </div>
                <div class="subsection-section">
                    <div class="subsection-section-content">
                        <div class="subsection-section-head">
                            <h3 class="subsection-section-title">Exhibition — Koel Gallery Karachi</h3>
                            <div class="subsection-section-description">
                                <p>Wood has been my muse for two decades. This exhibition is a love letter to the trees that have carried our stories far longer than we have walked among them. </p>
                                <p>At the generous invitation of Noor Jehan Bilgrami at Koel Gallery, curating this show alongside my dear friend Naila Mahmood was a treasured experience. It taught me, moved me, and changed how I think about my own practice. Ingrained is a celebration of wood and a tribute to the incredible participating artists whose imagination and hands have brought it alive.</p>
                            </div>
                        </div>
                        <div class="subsection-section-body">
                            <div class="individual-spotlight-gallery">
                                <div class="individual-spotlight-gallery-item">
                                    <img class="individual-spotlight-gallery-img" src="m/u/spotlights/individual-spotlight/1.jpg" alt="Spotlight 1" />
                                </div>
                                <div class="individual-spotlight-gallery-item">
                                    <img class="individual-spotlight-gallery-img" src="m/u/spotlights/individual-spotlight/2.jpg" alt="Spotlight 1" />
                                </div>
                                <div class="individual-spotlight-gallery-item">
                                    <img class="individual-spotlight-gallery-img" src="m/u/spotlights/individual-spotlight/3.jpg" alt="Spotlight 1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subsection-section">
                    <div class="subsection-section-content">
                        <div class="subsection-section-head subsection-section-head--center">
                            <h3 class="subsection-section-title">Curatorial Statement - An Invitation To Listen To The Wood</h3>
                        </div>
                        <div class="subsection-section-body">
                            <div class="individual-spotlight-highlights">
                                <div class="individual-spotlight-highlight">
                                    <h3 class="individual-spotlight-highlight-title">Living Witness</h3>
                                    <div class="individual-spotlight-highlight-text">
                                        <p>As living witnesses, trees mirror our personal and collective histories. The exhibition celebrates how they hold the weight of national identities, cultural memory, and the struggle over land and ecology. As we read wood, we in essence enter a dialogue with time — layered, resilient, and profoundly alive.</p>
                                    </div>
                                </div>
                                <div class="individual-spotlight-highlight">
                                    <h3 class="individual-spotlight-highlight-title">Tethered To Trees</h3>
                                    <div class="individual-spotlight-highlight-text">
                                        <p>The exhibition explores the intricate bond between humans and trees — a bond we have too often betrayed, felling forests without reverence and denying the sanctity with which they hold our ecosystems, our histories, and our very existence in balance.</p>
                                    </div>
                                </div>
                                <div class="individual-spotlight-highlight">
                                    <h3 class="individual-spotlight-highlight-title">Rooted In Time</h3>
                                    <div class="individual-spotlight-highlight-text">
                                        <p>In the architecture of wood, time quietly reveals itself. Trees carry the memory of growth, rupture, and renewal within their bodies. The exhibition explores how trees are more than material; they are metaphors of rootedness and resilience, of belonging and displacement, of innovation and legacy.</p>
                                    </div>
                                </div>
                                <div class="individual-spotlight-highlight">
                                    <h3 class="individual-spotlight-highlight-title">The Subject & The Medium</h3>
                                    <div class="individual-spotlight-highlight-text">
                                        <p>A vessel of texture, grain, and warmth, inviting touch and transformation in the artisans hands. As they carve, join, turn and finish, they read the wood's memory, responding with awareness and understanding.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--pb-0 section--w-bg-content-overlay-desktop">
    <div class="container">
        <div class="section-content">
            <div class="section-head">
                <h2 class="section-title">Look that speaks</h2>
                <p class="section-description">See how our designs come together in real spaces click the hotspots to shop each piece.</p>
            </div>
        </div>
    </div>
    <div class="section-bg">
        <picture class="section-bg-media">
            <source srcset="m/u/section-bg/1-desktop.jpg" media="(min-width: 768px)">
            <img src="m/u/section-bg/1-mobile.jpg" alt="Section background media" class="section-bg-img">
        </picture>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-content">
            <div class="section-body">
                <div class="individual-spotlight-description">
                    <p>Participating artists:  Sohail Abdullah, Khadija-tul-Kubra-Architects, Open Door–Workshop, Sibt-e-Hassan Azad, Nida Bangash, Arshad Faruqui, Ustad Hanif Khan, Raasmia Haque, Sarosh Hebatzai, Madiha Hyder, Junaid ul Islam, Fraz Mateen, Zoral Naik, Anushka Rustomil, Usman Saeed, Asif Sinan, and Raka Studio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const spotlightsSlider = new Swiper('#spotlights .swiper', {
        slidesPerView: "auto",
        spaceBetween: 16,
        navigation: {
            nextEl: '#spotlights .slider-control--next',
            prevEl: '#spotlights .slider-control--prev',
        },
    });
</script>

<% endblock %>