<% extends "./shared/master.html" %>

<% set pageTitle = "Spotlights" %>
<% set pageCssClass = "innerpage" %>
<% set lang = "en" %>

<% block content %>
<section class="section section--pb-0">
    <div class="container">
        <div class="section-content">
            <div class="section-head">
                <div class="page-head">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs-content">
                            <a href="" class="breadcrumbs-item">
                                <span class="breadcrumbs-item-text">Home</span>
                            </a>
                            <a href="" class="breadcrumbs-item breadcrumbs-item--active">
                                <span class="breadcrumbs-item-text">Spotlight</span>
                            </a>
                        </div>
                    </div>
                    <div class="page-head-info">
                        <h2 class="page-title">Spotlight</h2>
                        <div class="page-head-text">
                            <p>Discover our iconic furniture and interior solutions designed for landmark spaces across Pakistan.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="spotlight-hero">
                    <div class="spotlight-hero-media spotlight-hero-media--video">
                        <img class="spotlight-hero-media-img" src="m/u/spotlights/hero/1.jpg" alt="Spotlight" />
                        <a href="" class="spotlight-hero-media-action">
                            <svg class="spotlight-hero-media-action-icon">
                                <use href="m/i/icons.svg#symbol-play"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--pbe-0">
    <div class="section-content">
        <div class="section-body">
            <% include "./shared/components/moving-line.html" %>
        </div>
    </div>
</section>

<section class="section section--half-bleed" id="spotlights">
    <div class="section-content">
        <div class="section-head section-head--fw">
            <h2 class="section-title">Our Project Showcase</h2>
            <div class="section-actions">
                <div class="slider-controls slider-controls--visible-desktop">
                    <a href="" class="slider-control slider-control--prev">
                        <svg class="slider-control-icon">
                            <use href="m/i/icons.svg#symbol-arrow"></use>
                        </svg>
                    </a>
                    <a href="" class="slider-control slider-control--next">
                        <svg class="slider-control-icon">
                            <use href="m/i/icons.svg#symbol-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-body">
            <% include "./shared/modules/spotlights-slider.html" %>
            <div class="slider-controls slider-controls--visible-mobile">
                <div class="slider-control slider-control--prev">
                    <svg class="slider-control-icon">
                        <use href="m/i/icons.svg#symbol-arrow"></use>
                    </svg>
                </div>
                <div class="slider-control slider-control--next">
                    <svg class="slider-control-icon">
                        <use href="m/i/icons.svg#symbol-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--pb-0 section--w-bg">
    <div class="container">
        <div class="section-content">
            <div class="section-head">
                <h2 class="section-title">Round Sofa with 9 Cushions</h2>
                <div class="section-actions">
                    <div class="section-action">
                        <a href="" class="button button--primary button--primary-on-bg button--default button--hoverable">
                            <span class="button-text">buy now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg">
        <picture class="section-bg-media">
            <source srcset="m/u/section-bg/3-desktop.jpg" media="(min-width: 768px)">
            <img src="m/u/section-bg/3-mobile.jpg" alt="Section background media" class="section-bg-img">
        </picture>
    </div>
</section>

<section class="section section--inverted">
    <div class="container">
        <div class="section-content section-content--horizontal">
            <div class="section-head">
                <h2 class="section-title">Designing for Iconic Spaces</h2>
                <p class="section-description">
                    Our work extends beyond homes and offices. From airports to cultural landmarks, each project in the Spotlight series tells a story of design tailored to its environment. 
                    <br />
                    With a blend of craftsmanship and functionality, we've created furniture that not only complements the space but also becomes part of its legacy.
                </p>
            </div>
            <div class="section-body">
                <div class="two-column-images">
                    <img class="two-column-images-img" src="m/u/two-column-images/5.jpg" alt="">
                    <img class="two-column-images-img" src="m/u/two-column-images/6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const spotlightsSlider = new Swiper('#spotlights .swiper', {
        slidesPerView: "auto",
        spaceBetween: 16,
        navigation: {
            nextEl: '#spotlights .slider-control--next',
            prevEl: '#spotlights .slider-control--prev',
        },
    });
</script>

<% endblock %>