<% extends "./shared/master.html" %>

<% set pageTitle = "Terms and Conditions" %>
<% set pageCssClass = "innerpage" %>
<% set lang = "en" %>

<% block content %>
<section class="section section--pbs-0">
    <div class="container">
        <div class="section-content">
            <div class="section-head">
                <div class="page-head page-head--align-start">
                    <div class="breadcrumbs">
                        <div class="breadcrumbs-content">
                            <a href="" class="breadcrumbs-item">
                                <span class="breadcrumbs-item-text">Home</span>
                            </a>
                            <a href="" class="breadcrumbs-item breadcrumbs-item--active">
                                <span class="breadcrumbs-item-text">Terms and conditions</span>
                            </a>
                        </div>
                    </div>
                    <div class="page-head-info">
                        <h2 class="page-title">Terms and conditions</h2>
                        <div class="page-head-text">
                            <p>Date: 1st Sept, 2025</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="terms-list">
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Privacy And Cookie Policy</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>We at <strong>Zahra Ebrahim</strong> sincerely appreciate your trust and confidence in our products and respect your concerns about the privacy. The privacy and security of the information collected from you is a priority to us and it is equally important to us that you understand how we use this information and with whom we may share it.</p>
                                <p>We are committed to maintaining the privacy of our customers and do not share, sell or otherwise reveal information about our customers to any other party except as required to process and ship purchases. Please understand we will disclose your information when obliged by law or to safeguard our mutual interests and safety.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Information</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p><strong>Zahra Ebrahim</strong> is the sole owner of the information collected on <a href="">www.zahraebrahim.com</a>. <strong>Zahra Ebrahim</strong> collects information from our users at several different points on our website. Visitors and users of our website willingly provide their names, email addresses, phone numbers, shipping address and other personal and business information. By providing this information you consent that in order to process your requests and transactions, this information will be shared with our service providers and third party such as banking institutions and shipping and courier companies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Order Form</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>We request information from the user/customer on our orders. A user/customer must provide contact information (such as name, email and shipping address) and financial information (such as credit card number and expiration date). This information is used for credit card authorization and to fill customers’ orders. If we have trouble processing an order, the information is used to contact the user. All the credit/debit card information is saved with the bank and <strong>Zahra Ebrahim</strong> has no access to that data.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Legal Disclaimer</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal requirements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Third Party Mediators</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>We use an outside shipping company to ship orders, and a credit card/debit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Cookies</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>Our site uses cookies so that we may keep track of items in your shopping cart and to provide our customers with a tailored user experience. With the help of cookies, we can present you with customized content that will be of more interest to you. We also use cookies to remember your passwords for you so you don’t have to re-enter them each time you visit the site. You have the option of setting your browser to reject cookies. However, if certain cookies that track your purchase are rejected then we won't be able to keep items in your cart.</p>
                            </div>
                        </div>
                    </div>
                    <div class="terms-item">
                        <div class="terms-item-head">
                            <h3 class="terms-item-title">Reservation of Rights</h3>
                        </div>
                        <div class="terms-item-info">
                            <div class="terms-item-text">
                                <p>We reserve the right to change, add, or amend these privacy policies at any time; in such case, this will be notified through our website and/or any other methods permitted by applicable law.</p>
                                <p>By browsing or using this website, you expressly acknowledge that you have read, understand and agree to all the terms and conditions of this privacy policy, as outlined above and as it may be modified by us (Zahra Ebrahim) from time to time without any prior notification.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% endblock %>