@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin hover-active {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
    
    @media (hover: none) and (pointer: coarse) {
        &:active {
            @content;
        }
    }
}

@mixin hover-active-element($element) {
    @media (hover: hover) and (pointer: fine) {
        &:hover #{$element} {
            @content;
        }
    }
    
    @media (hover: none) and (pointer: coarse) {
        &:active #{$element} {
            @content;
        }
    }
}