<section
  class="section section section--pb-0 section--w-bg-content-overlay-desktop animate-on-scroll"
>
  <div class="container">
    <div class="section-content">
      <div class="section-head animatable-part">
        <h2 class="section-title">Explore the Look</h2>
        <p class="section-description">
          See how our designs come together in real spaces — click the hotspots to shop each piece.
        </p>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <picture class="section-bg-media">
      <source
        srcset="{{ 'u/section-bg/1-desktop.jpg' | asset_url }}"
        media="(min-width: 992px)"
      >
      <img
        src="{{ 'u/section-bg/1-mobile.jpg' | asset_url }}"
        alt="Section background media"
        class="section-bg-img"
        height=""
        width=""
      >
    </picture>
  </div>
</section>
