<section class="section section--pbs-0">
  <div class="container">
    <div class="section-content">
      <div class="section-head">
        <div class="page-head page-head--align-start">
          <div class="breadcrumbs">
            <div class="breadcrumbs-content">
              <a href="" class="breadcrumbs-item">
                <span class="breadcrumbs-item-text">Home</span>
              </a>
              <a href="" class="breadcrumbs-item breadcrumbs-item--active">
                <span class="breadcrumbs-item-text">FAQ's</span>
              </a>
            </div>
          </div>
          <div class="page-head-info">
            <h2 class="page-title">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="faq-list">
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">Which City Is Zahra Ebrahim Based In?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>Karachi - Pakistan</p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">Do You Ship Internationally?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>We Are Sorry To Inform That We Don't Ship Our Products Internationally.</p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">How Can We Physically See Your Furniture?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  You Can Visit Our Showroom Within Our Factory. We Are Open Monday To Saturday Between 10 Am And 4 Pm.
                  For Directions And Location Please Call On Our Workshop Nos: 03209000151, 03209000152
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">What Is Your Contact Number?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  Our Workshop Numbers: 03209000151, 03209000152 The Above Numbers Are Available Only During Working
                  Hours Between 10 To 5, Monday To Saturday. Incase You Want To Contact During Non Working Hours Please
                  Whatsapp And We Will Try To Get Back As Soon As We Can.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">When Are Packing and Shipping Charges Applied?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  For Parcels Over 10 Kg, (larger Furniture Pieces) Tcs Has Stringent Packing Rules And Therefore We
                  Usually Crate The Piece Or Get It Packed Professionally. There Is An Additional Cost To This And
                  Therefore Shipping And Packing Of Our Larger Pieces To Cities Other Than Karachi Is More Costly.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">Do You Offer A Gift Wrapping Service?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  We Can Gift Wrap Your Piece And Also Add A Card If You Like. However Please Mention This In The
                  Special Instructions Box When Ordering. There Is No Additional Cost For This.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">What Is Your Return And Exchange Policy?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  If you are unsatisfied with your purchase you can return your item for an exchange or a full refund
                  within 15 days after the product is delivered to you. In order for us to process a return or exchange,
                  the purchased product must be returned unused in its original packing with its original bill.
                </p>
                <p>
                  If you are seeking an exchange please first email us on info@zahraebrahim.com and we will look into
                  stock availability. Exchanged items (within the same price range) will be shipped to you at no
                  additional cost once we have received the returned product. You are responsible for the cost of return
                  shipping. We recommend a courier service with tracking details. We cannot accept responsibility for
                  parcels lost in transit and you are advised to obtain proof of postage and send via a tracked method.
                  We will refund your method of payment for the purchase price (excluding any applicable shipping and
                  delivery costs) once we receive your return package.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">Why Are Some Of Your Products Not Visible On The Website?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>
                  Only Ready Products Are Available On The Website Which Can Be Sent Immediately. Our Catalogue, Which
                  Has All The Products Can Be Accessed Through:
                  <a href="https://www.zahraebrahim.com/catalogue" target="_blank">www.zahraebrahim.com/catalogue</a>
                </p>
                <p>
                  If The Product You Want Is Not On Our Website And You Would Like To Order It, Please Email Us On
                  <a href="mailto:info@zahraebrahim.com">Info@zahraebrahim.com</a> With A Screen Shot Of The Product And
                  We Will Facilitate You.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-item-head">
              <div class="faq-item-icon-wrap">
                <span class="faq-item-icon">Q</span>
              </div>
              <h3 class="faq-item-title">Do You Ship To Other Cities In Pakistan?</h3>
            </div>
            <div class="faq-item-content">
              <div class="faq-item-text">
                <p>Yes, we ship throughout Pakistan.</p>
                <p>
                  <strong>For Karachi:</strong> Local Riders at a Standard Delivery Charge of 400 PKR for anywhere in
                  Karachi. COD option Available, along with Credit Card and Direct Bank Transfer. Estimated Delivery
                  Time: 2 Business Days.
                </p>
                <p>
                  <strong>For All other Cities in Pakistan:</strong> We use Blue ex and TCS depending upon the weight
                  and size of the product.
                </p>
                <p>
                  <strong>For Parcels under 10 KG:</strong> COD option Available, along with Credit Card and Direct Bank
                  Transfer. Estimated Delivery Time: 4 working days using Blue ex.
                </p>
                <p>
                  <strong>For Parcels over 10 KG:</strong> Credit card or Direct Bank Transfer options only. Estimated
                  Delivery Time: 10 working days using TCS Overland Service
                </p>
                <p>
                  *Please Note that none of the parcels are insured. The risk of damage during delivery is minimal but
                  exists.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
