<section class="section section--pb-0 section--w-bg animate-on-scroll">
  <div class="container">
    <div class="section-content">
      <div class="section-head animatable-part">
        <h2 class="section-title">Filigree Jewellery box</h2>
        <div class="section-actions">
          <div class="section-action">
            <a
              href=""
              class="button button--primary button--primary-on-bg button--default button--hoverable"
            >
              <span class="button-text">buy now</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <picture class="section-bg-media">
      <source
        srcset="{{ 'u/section-bg/2-desktop.jpg' | asset_url }}"
        media="(min-width: 992px)"
      >
      <img
        src="{{ 'section-bg-2-mobile.jpg' | asset_url }}"
        alt="Section background media"
        class="section-bg-img"
        height=""
        width=""
      >
    </picture>
  </div>
</section>
