.animatable-part {
    @media (min-width: 768px) {
        .animate-on-scroll & {
            opacity: 0;
            transform: translateY(10rem);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
        .animate-on-scroll-in & {
            opacity: 1;
            transform: translateY(0);
        }
    }
}