.button {

    --button-default-fs: 1.4rem;
    --button-default-lh: 1.8rem;

    @media (min-width: 768px) {
        --button-default-fs: 1.6rem;
        --button-default-lh: 2rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    overflow: hidden;
    position: relative;

    &--default {
        padding-block: 1rem;
        padding-inline: 3rem;
        border-radius: .5rem;
        @media (min-width: 1200px) {
            padding-block: 1.4rem;
        }
    }

    &--large {
        padding-block: 1.8rem;
        padding-inline: 3rem;
        border-radius: .5rem;
        @media (min-width: 768px) {
            padding-block: 2rem;
        }
    }

    &--hoverable {
        transition: background-color, border-color, 450ms ease;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + 1rem);
            left: 50%;
            transform: translateX(-50%) translateY(0);
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            z-index: 1;
            background-color: var(--button-hover-bg);
            transition: all 600ms cubic-bezier(0, 0, 0, 1);
        }
        @include hover-active {
            background-color: var(--button-hover-bg);
            border-color: var(--button-hover-bg);
            &::after {
                width: calc(100% + 1.8rem);
                height: 330%;
                top: calc(50% - .6rem);
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    &--primary {
        --button-bg: var(--color-muted-terracotta);
        --button-border: var(--color-muted-terracotta);
        --button-hover-bg: var(--color-deep-clay);

        background-color: var(--button-bg);
        border: 1px solid var(--button-border);

        @include hover-active-element('.button-text') {
            color: var(--color-white);
        }
        @include hover-active-element('.button-icon') {
            fill: var(--color-white);
        }
    }

    &--primary-on-bg {
        --button-hover-bg: var(--color-white);
        @include hover-active-element('.button-text') {
            color: var(--color-rich-charcoal);
        }
        @include hover-active-element('.button-icon') {
            fill: var(--color-rich-charcoal);
        }
    }

    &--secondary {

        --button-bg: transparent;
        --button-border: var(--color-white);
        --button-hover-bg: var(--color-muted-terracotta);

        background-color: var(--button-bg);
        border: 1px solid var(--button-border);

        @include hover-active-element('.button-text') {
            color: var(--color-rich-charcoal);
        }
        @include hover-active-element('.button-icon') {
            fill: var(--color-rich-charcoal);
        }
    }

    &--deep-clay {
        --button-bg: var(--color-deep-clay);
        --button-border: var(--color-deep-clay);
        --button-hover-bg: var(--color-muted-terracotta);

        background-color: var(--button-bg);
        border: 1px solid var(--button-border);
        
        @include hover-active-element('.button-text') {
            color: var(--color-rich-charcoal);
        }
        @include hover-active-element('.button-icon') {
            fill: var(--color-deep-clay);
        }
    }
}

.button-text {
    font-size: var(--button-default-fs);
    line-height: var(--button-default-lh);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color, 600ms ease;

    .button--primary & {
        color: var(--color-rich-charcoal);
    }

    .button--secondary & {
        color: var(--color-white);
    }

    .button--deep-clay & {
        color: var(--color-white);
    }
}

.button-icon {
    position: relative;
    z-index: 2;
    transition: fill, 600ms ease;
    .button--primary & {
        fill: var(--color-rich-charcoal);
    }
    .button--secondary & {
        fill: var(--color-white);
    }
    .button--deep-clay & {
        fill: var(--color-warm-copper);
    }
    &--instagram {
        width: 1.6rem;
        height: 1.6rem;
    }
    &--filter {
        width: 1.7rem;
        height: 1.4rem;
    }
}