.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(from var(--color-rich-charcoal) r g b / .5);
    z-index: 1000;
    display: none;
    &.open {
        display: block;
    }
}

.custom-modal-content {
    width: calc(100% - 3rem);
    background-color: var(--color-white);
    border-radius: .5rem;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1001;
    @media (min-width: 768px) {
        max-width: 42.5rem;
        padding: 3.5rem 4.5rem;
    }
    @media (min-width: 1200px) {
        max-width: 56rem;
        padding: 5rem;
    }
}