.faq {
    --faq-item-pb: 1.8rem;
    @media (min-width: 768px) {
        --faq-item-pb: 2rem;
    }
    @media (min-width: 1470px) {
        --faq-item-pb: 3rem;
    }
    display: flex;
    flex-direction: column;
}

.faq-item {
    padding-block: var(--faq-item-pb);
    border-bottom: 1px solid rgb(from var(--color-warm-copper) r g b / .5);
    &:first-child {
        padding-block-start: 0;
    }
    &:last-child {
        border-bottom: none;
        padding-block-end: 0;
    }
    @media (min-width: 768px) {
        &:first-child {
            padding-block-start: var(--faq-item-pb);
            border-top: 1px solid rgb(from var(--color-warm-copper) r g b / .5);
        }
        &:last-child {
            padding-block-end: var(--faq-item-pb);
            border-bottom: 1px solid rgb(from var(--color-warm-copper) r g b / .5);
        }
    }
}

.faq-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.faq-trigger-text {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    width: calc(100% - 2.4rem);
    @media (min-width: 768px) {
        font-size: var(--fs-subheading);
        line-height: var(--lh-subheading);
    }
}

.faq-trigger-icon {
    width: 1.4rem;
    height: .8rem;
    fill: var(--color-warm-copper);
    transition: fill, transform, 300ms ease;
    .faq-item.open & {
        fill: var(--color-deep-clay);
        transform: rotate(180deg);
    }
}

.faq-item-results {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows, 300ms ease;
    .faq-item.open & {
        grid-template-rows: 1fr;
    }
}

.faq-item-result-content {
    overflow: hidden;
    padding-block-start: 0;
    transition: padding-block 300ms ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .faq-item.open & {
        padding-block-start: 1.5rem;
    }
}

.faq-item-result-content p {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
}