.load-more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 3rem;
    @media (min-width: 1200px) {
        margin-block-start: 4rem;
    }
    @media (min-width: 1470px) {
        margin-block-start: 6rem;
    }
}