.logo-link {
    display: block;
}

.logo-media {
    width: var(--logo-w);
    height: var(--logo-h);
    .header & {
        fill: var(--header-content-color);
    }
    .footer & {
        fill: var(--color-rich-charcoal);
    }
    .main-nav & {
        width: 15rem;
        height: 1.7rem;
        fill: var(--color-deep-clay);
    }
}