.main-nav {
    @media (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100dvh;
        z-index: 100;
        transition: left .3s ease;
        &.active {
            left: 0;
        }
    }
}

.main-nav-content {
    @media (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        background-color: var(--color-white);
        padding-inline: 1.6rem;
        padding-block: 2.5rem;
    }
}

.main-nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block-end: 2.5rem;
    border-bottom: 1px solid rgb(from var(--color-warm-copper) r g b / .5);
}

.main-nav-close {
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-close-icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-rich-charcoal);
}

.main-nav-body {
    @media (max-width: 1199px) {
        padding-block: 2.5rem;
    }
}

.main-nav-foot {
    @media (max-width: 1199px) {
        margin-block-start: auto;
    }
}

.main-nav-head, .main-nav-foot {
    @media (min-width: 1200px) {
        display: none;
    }
}

.main-nav-list {
    display: flex;
    gap: 2rem;
    @media (max-width: 1199px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    @media (min-width: 1200px) {
        gap: 3rem;
    }
}

.main-nav-item {
    @media (max-width: 1199px) {
        width: 100%;
    }
    @include hover-active-element('.main-nav-link-text::before') {
        width: 100%;
    }
}

.main-nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    @media (max-width: 1199px) {
        justify-content: space-between;
    }
}

.main-nav-link-icon {
    width: 1.4rem;
    height: .8rem;
    fill: var(--header-content-color);
    @media (max-width: 1199px) {
        fill: var(--color-deep-clay);
    }
}

.main-nav-link-text {
    position: relative;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--header-content-color);
    @media (max-width: 1199px) {
        font-family: var(--font-heading);
        color: var(--color-deep-clay);
    }
    @media (min-width: 1200px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    @media (min-width: 1470px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--header-content-color);
        transition: width .3s ease;
        @media (max-width: 1199px) {
            background-color: var(--color-deep-clay);
        }
    }
}