.mega-menu {
    --mega-menu-top-offset: 0;
    @media (min-width: 1200px) {
        --mega-menu-top-offset: 6rem;
    }
    @media (min-width: 1470px) {
        --mega-menu-top-offset: 8.5rem;
    }
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(from var(--color-rich-charcoal) r g b / .5);
    top: 0;
    opacity: 0;
    left: -100%;
    z-index: -1;
    pointer-events: none;
    transition: opacity .3s ease, z-index .3s ease, left .3s ease, padding-block-start .3s ease;
    @media (min-width: 1200px) {
        left: 0;
    }
    &.open {
        opacity: 1;
        z-index: 2000;
        pointer-events: auto;
        left: 0;
        @media (min-width: 1200px) {
            padding-block-start: var(--mega-menu-top-offset);
        }
    }
}

.mega-menu .container {
    @media (max-width: 1199px) {
        max-width: 100%;
        padding-inline: 0;
        height: 100%;
    }
}

.mega-menu-content {
    background-color: var(--color-white);
    @media (max-width: 1199px) {
        height: 100%;
        overflow-y: auto;
        padding-inline: 1.6rem;
        padding-block: 2.5rem;
        @include custom-scrollbar;
    }
    @media (min-width: 1200px) {
        border-radius: .5rem;
        padding-block: 4rem;
        padding-inline: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    @media (min-width: 1470px) {
        padding-block: 6rem;
        padding-inline: 6rem;
        gap: 7rem;
    }
}

.mega-menu-head {
    padding-block-end: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1200px) {
        display: none;
    }
}

.mega-menu-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.mega-menu-back-icon {
    width: 1.4rem;
    height: .8rem;
    fill: var(--color-deep-clay);
    rotate: 90deg;
}

.mega-menu-back-text {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    transition: color .3s ease;
    @include hover-active {
        color: var(--color-rich-charcoal);
    }
}

.mega-menu-close {
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mega-menu-close-icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-rich-charcoal);
}

.mega-menu-media {
    display: none;
    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    @media (min-width: 1470px) {
        gap: 1.6rem;
    }
}

.mega-menu-media-img {
    width: 100%;
    border-radius: .5rem;
}

.mega-menu-list {
    display: grid;
    grid-template-columns: 100%;
    gap: 3.2rem;
    @media (min-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    @media (min-width: 1470px) {
        gap: 8rem;
    }
}

.mega-menu-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mega-menu-column-title {
    width: 100%;
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    border-bottom: 1px solid rgb(from var(--color-warm-copper) r g b / .5);
    padding-block-end: 1rem;
}

.mega-menu-column-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mega-menu-column-link {
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-rich-charcoal-alpha-70);
    margin: 0;
    transition: color .3s ease;
    @include hover-active {
        color: var(--color-rich-charcoal);
    }
}