@keyframes moveLineScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50%));
    }
}

.moving-line {
    overflow: hidden;
    width: 100%;
    opacity: .3;
    pointer-events: none;
    user-select: none;
}

.moving-line-track {
    display: flex;
    width: 100%;
}

.moving-line-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    animation: moveLineScroll 20s linear infinite alternate;
    @media (min-width: 768px) {
        gap: 3rem;
        animation-duration: 40s;
    }
    @media (min-width: 1470px) {
        animation-duration: 50s;
    }
}

.moving-line-item {
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: var(--color-warm-copper);
    font-family: var(--font-heading);
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 4.2rem;
        line-height: 4.6rem;
    }
    @media (min-width: 1470px) {
        font-size: 6.4rem;
        line-height: 7rem;
    }
}

.moving-line-separator {
    width: 4rem;
    height: 3.2rem;
    flex-shrink: 0;
    @media (min-width: 768px) {
        width: 5.4rem;
        height: 4.8rem;
    }
    @media (min-width: 1470px) {
        width: 8.1rem;
        height: 7.2rem;
    }
}