.search-overlay {
    --search-overlay-top-offset: 0;
    @media (min-width: 1200px) {
        --search-overlay-top-offset: 6rem;
    }
    @media (min-width: 1470px) {
        --search-overlay-top-offset: 8.5rem;
    }
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(from var(--color-rich-charcoal) r g b / .5);
    top: 0;
    opacity: 0;
    right: -100%;
    z-index: -1;
    pointer-events: none;
    transition: opacity .3s ease, z-index .3s ease, right .3s ease, padding-block-start .3s ease;
    @media (min-width: 1200px) {
        right: 0;
    }
    &.open {
        opacity: 1;
        z-index: 2000;
        pointer-events: auto;
        right: 0;
        @media (min-width: 1200px) {
            padding-block-start: var(--search-overlay-top-offset);
        }
    }
}

.search-overlay .container {
    @media (max-width: 1199px) {
        max-width: 100%;
        padding-inline: 0;
        height: 100%;
    }
}

.search-content {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @media (max-width: 1199px) {
        height: 100%;
        overflow-y: auto;
        padding-inline: 1.6rem;
        padding-block: 2.5rem;
        @include custom-scrollbar;
    }
    @media (min-width: 1200px) {
        border-radius: .5rem;
        padding-block: 4rem;
        padding-inline: 4rem;
        gap: 2rem;
    }
    @media (min-width: 1470px) {
        padding-block: 6rem;
        padding-inline: 6rem;
        gap: 3rem;
    }
}

.search-head {
    position: relative;
}

.search-field-wrap {
    position: relative;
    padding-block-end: 2.4rem;
    padding-inline: 3.6rem;
    border-bottom: 1px solid rgba(from var(--color-warm-copper) r g b / .5);
    @media (min-width: 1200px) {
        padding-block-end: 1.2rem;
        padding-inline: 4.2rem;
    }
    @media (min-width: 1470px) {
        padding-block-end: 1.8rem;
        padding-inline: 6.2rem;
    }
}

.search-field-action {
    position: absolute;
    left: 0;
    top: calc(50% - 1.2rem);
    transform: translateY(-50%);
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1200px) {
        left: 1.4rem;
        width: 1.4rem;
        top: calc(50% - .6rem);
    }
    @media (min-width: 1470px) {
        left: 2rem;
        width: 2.2rem;
        top: calc(50% - .9rem);
    }
}

.search-field-action-icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-deep-clay);
    @media (min-width: 1200px) {
        width: 1.4rem;
        height: 1.4rem;
    }
    @media (min-width: 1470px) {
        width: 2.2rem;
        height: 2.2rem;
    }
}

.search-field {
    width: 100%;
    outline: 0;
    border: none;
    border-left: 1px solid var(--color-deep-clay);
    background-color: transparent;
    padding-inline-start: .5rem;
    height: 2rem;
    font-size: var(--fs-subheading);
    line-height: var(--lh-subheading);
    font-weight: var(--fw-regular);
    @include placeholder {
        color: rgba(from var(--color-rich-charcoal) r g b / .30);
    }
}

.search-close {
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: calc(50% - 1.2rem);
    transform: translateY(-50%);
    @media (min-width: 1200px) {
        width: 1.4rem;
        right: 1.4rem;
        top: calc(50% - .6rem);
    }
    @media (min-width: 1470px) {
        width: 2.2rem;
        right: 2rem;
        top: calc(50% - .9rem);
    }
}

.search-close-icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--color-rich-charcoal);
    @media (min-width: 1200px) {
        width: 1.4rem;
        height: 1.4rem;
    }
    @media (min-width: 1470px) {
        width: 2.2rem;
        height: 2.2rem;
    }
}

.search-body {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
        padding-inline-end: 2.5rem;
        max-height: 33rem;
        overflow-y: auto;
        overscroll-behavior: contain;
        @include custom-scrollbar;
    }
    @media (min-width: 1470px) {
        gap: 5rem;
        padding-inline-end: 6.5rem;
        max-height: 50rem;
    }
}

.search-suggestions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 1200px) {
        width: 30%;
        flex-shrink: 0;
    }
    @media (min-width: 1470px) {
        width: 25%;
    }
}

.search-suggestions-title {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
}

.search-suggestions-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media (min-width: 1470px) {
        gap: 2rem;
    }
}

.search-suggestions-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    @include hover-active-element('.search-suggestions-item-text') {
        color: var(--color-rich-charcoal);
    }
    @include hover-active-element('.search-suggestions-item-icon') {
        fill: var(--color-rich-charcoal);
    }
}

.search-suggestions-item-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--color-rich-charcoal-alpha-70);
    transition: fill 300ms ease;
}

.search-suggestions-item-text {
    font-size: var(--fs-base-large);
    line-height: var(--lh-base-large);
    color: var(--color-rich-charcoal-alpha-70);
    transition: color 300ms ease;
    width: calc(100% - 2.4rem);
}

.search-recommendations {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 1.6rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 1rem;
    }
    @media (min-width: 1200px) {
        row-gap: 2.5rem;
    }
    @media (min-width: 1470px) {
        row-gap: 5rem;
        column-gap: 1.6rem;
    }
}