.shopping-options {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    --shopping-option-underline-w: 2px;
    --shopping-option-hover-underline-w: 3rem;
    @media (min-width: 768px) {
        --shopping-option-hover-underline-w: 7rem;
    }
}

.shopping-option {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 768px) {
        gap: 1.6rem;
    }
    @media (min-width: 1470px) {
        gap: 2rem;
    }
    @include hover-active-element('.shopping-option-media::after') {
        top: -4rem;
    }
    @include hover-active-element('.shopping-option-title::after') {
        width: var(--shopping-option-hover-underline-w);
    }
}

.shopping-option-media {
    @include shimmer;
}

.shopping-option-img {
    width: 100%;
    border-radius: .5rem;
}

.shopping-option-title {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 0;
        width: var(--shopping-option-underline-w);
        height: 1px;
        border-radius: 2px;
        background-color: var(--color-warm-copper);
        transition: width 300ms ease;
    }
}