.slider-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    &--visible-desktop {
        display: none;
        @media (min-width: 1200px) {
            display: flex;
        }
    }
    &--visible-mobile {
        display: flex;
        @media (min-width: 1200px) {
            display: none;
        }
    }
    .section-body & {
        margin-block-start: 3rem;
    }
    .subsection-slider &, .subsection-products-slider & {
        justify-content: center;
    }
}

.slider-control {
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid var(--color-rich-charcoal);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color, border-color, 300ms ease;
    @include hover-active {
        background-color: var(--color-deep-clay);
        border-color: var(--color-deep-clay);
    }
    @include hover-active-element('.slider-control-icon') {
        fill: var(--color-white);
    }
}

.slider-control-icon {
    width: 1.2rem;
    height: 1rem;
    fill: var(--color-rich-charcoal);
    transition: fill, 300ms ease;
    .slider-control--next & {
        transform: rotate(180deg);
    }
}

.swiper-pagination {
    position: static;
    margin-block-start: 2rem;
    font-family: var(--font-default);
    font-size: 1.4rem;
}