.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.socials-icon {
    fill: var(--color-deep-clay);
    &--facebook {
        width: 1rem;
        height: 2rem;
    }
    &--instagram {
        width: 1.9rem;
        height: 2rem;
    }
    &--whatsapp {
        width: 2.1rem;
        height: 2rem;
    }
}