.two-column-images {
    --vertical-transform: 6.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-block: calc(var(--vertical-transform) / 2);
    @media (min-width: 768px) {
        --vertical-transform: 5rem;
        gap: 1.6rem;
    }
    @media (min-width: 1200px) {
        --vertical-transform: 9rem;
        gap: 2rem;
    }
    @media (min-width: 1470px) {
        --vertical-transform: 13.6rem;
        gap: 3.2rem;
    }
}

.two-column-images-img {
    width: 100%;
    border-radius: .5rem;
    &:first-child {
        transform: translateY(calc(var(--vertical-transform) / 2 * -1));
    }
    &:last-child {
        transform: translateY(calc(var(--vertical-transform) / 2));
    }
    .section--inverted & {
        &:first-child {
            transform: translateY(calc(var(--vertical-transform) / 2));
        }
        &:last-child {
            transform: translateY(calc(var(--vertical-transform) / 2 * -1));
        }
    }
}