<div class="breadcrumbs">
  <div class="breadcrumbs-content">
    <a href="{{ routes.root_url }}" class="breadcrumbs-item">
      <span class="breadcrumbs-item-text">Home</span>
    </a>
    <a href="{{ request.path }}" class="breadcrumbs-item breadcrumbs-item--active">
      <span class="breadcrumbs-item-text">{{ page.title }}</span>
    </a>
  </div>
</div>
