<section class="client-feedback" id="client-feedback">
  <div class="container">
    <div class="client-feedback-slider">
      <a
        href=""
        class="client-feedback-slider-control client-feedback-slider-control--prev"
      >
        <svg class="client-feedback-slider-control-icon">
          <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
        </svg>
      </a>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="client-feedback-item">
              <p>
                "In our homes, as in our lives we are happiest when we make room for the things that speak to our
                souls." — Sibella Court
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client-feedback-item">
              <p>
                Luxury to me is not about buying expensive things; it is about living in a way where you appreciate
                things." — Oscar de la Renta
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client-feedback-item">
              <p>
                "A room should never allow the eye to settle in one place. It should smile at you and create fantasy." —
                Juan Montoya
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client-feedback-item">
              <p>"The best rooms have something to say about the people who live in them." — David Hicks</p>
            </div>
          </div>
        </div>
      </div>
      <a
        href=""
        class="client-feedback-slider-control client-feedback-slider-control--next"
      >
        <svg class="client-feedback-slider-control-icon">
          <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof Swiper !== 'undefined') {
      new Swiper('#client-feedback .swiper', {
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: '#client-feedback .client-feedback-slider-control--next',
          prevEl: '#client-feedback .client-feedback-slider-control--prev',
        },
      });
    } else {
      console.error('Swiper library is not loaded');
    }
  });
</script>
