<section class="section section--inverted animate-on-scroll">
  <div class="container">
    <div class="section-content animatable-part section-content--horizontal">
      <div class="section-head">
        <h2 class="section-title">Giftables - Because the best gifts are made to last.</h2>
        <p class="section-description">
          Discover a curated selection of small yet timeless creations — perfect for gifting your loved ones or
          celebrating life’s special moments. From handcrafted trays to elegant décor accents, each piece reflects the
          same craftsmanship and attention to detail that defines Zahra Ebrahim.
        </p>
        <div class="section-actions">
          <div class="section-action">
            <a
              href=""
              class="button button--primary button--default button--hoverable"
            >
              <span class="button-text">Shop Giftables</span>
            </a>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="two-column-images">
          <img
            class="two-column-images-img"
            src="{{ 'two-column-3.jpg' | asset_url }}"
            alt=""
            height=""
            width=""
          >
          <img
            class="two-column-images-img"
            src="{{ 'two-column-4.jpg' | asset_url }}"
            alt=""
            height=""
            width=""
          >
        </div>
      </div>
    </div>
  </div>
</section>
