<section class="section animate-on-scroll">
  <div class="container">
    <div class="section-content animatable-part section-content--horizontal">
      <div class="section-head">
        <h2 class="section-title">Handcrafted in Pakistan, Loved Everywhere</h2>
        <p class="section-description">
          For over 15 years, our skilled artisans — many with us for over a decade — have created timeless pieces with
          dedication, precision, and pride.
        </p>
        <div class="section-actions">
          <div class="section-action">
            <a
              href=""
              class="button button--primary button--default button--hoverable"
            >
              <span class="button-text">about us</span>
            </a>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="two-column-images">
          <img
            class="two-column-images-img"
            src="{{ 'two-column-1.jpg' | asset_url }}"
            alt=""
            height=""
            width=""
          >
          <img
            class="two-column-images-img"
            src="{{ 'two-column-2.jpg' | asset_url }}"
            alt=""
            height=""
            width=""
          >
        </div>
      </div>
    </div>
  </div>
</section>
