<section class="section section--pbs-0">
  <div class="container">
    <div class="section-content">
      <div class="section-head">
        <div class="page-head page-head--align-start">
          {% render 'breadcrumbs' %}
          <div class="page-head-info">
            <h2 class="page-title">{{  page.title }}</h2>
          </div>
        </div>
      </div>
      <div class="section-body static-page">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>