<!-- if custom modal is open custom modal must have class "open" and body must have class "noscroll" -->

<div class="custom-modal">
    <div class="custom-modal-content">
        <div class="form-message">
            <div class="form-message-icon-wrap">
                <svg class="form-message-icon" width="81" height="72" viewBox="0 0 81 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="40.1865" cy="36" r="36" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="40.2334" cy="36" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="40.2334" cy="18" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="40.2334" cy="54" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="56.095" cy="27.4919" r="18" transform="rotate(61.7921 56.095 27.4919)" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="24.3714" cy="44.5082" r="18" transform="rotate(61.7921 24.3714 44.5082)" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 17.0166 3.12146)" stroke="#C07E4E" stroke-width="1.5"/>
                    <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 48.7412 20.1378)" stroke="#C07E4E" stroke-width="1.5"/>
                </svg>
            </div>
            <div class="form-message-text">
                <h3>Thank You for Your Request</h3>
                <p>Our team will review your request and contact you within 24 hours to confirm availability and customization options.</p>
            </div>
            <div class="form-message-actions">
                <a href="" class="button button--primary button--default button--hoverable">
                    <span class="button-text">Close</span>
                </a>
            </div>
        </div>
    </div>
</div>