<div class="mega-menu">
	<div class="container">
		<div class="mega-menu-content">
			<div class="mega-menu-head">
				<a href="" class="mega-menu-back">
					<svg class="mega-menu-back-icon">
						<use href="m/i/icons.svg#symbol-caret"></use>
					</svg>
					<span class="mega-menu-back-text">Back</span>
				</a>
				<a href="" class="mega-menu-close">
					<svg class="mega-menu-close-icon">
						<use href="m/i/icons.svg#symbol-times"></use>
					</svg>
				</a>
			</div>
			<div class="mega-menu-media">
				<div class="mega-menu-media-item">
					<img class="mega-menu-media-img" src="m/u/mega-menu/1.jpg" alt="">
				</div>
				<div class="mega-menu-media-item">
					<img class="mega-menu-media-img" src="m/u/mega-menu/2.jpg" alt="">
				</div>
			</div>
			<div class="mega-menu-list">
				<div class="mega-menu-column">
					<h3 class="mega-menu-column-title">Shop by furniture</h3>
					<div class="mega-menu-column-content">
						<a href="" class="mega-menu-column-link">All</a>
						<a href="" class="mega-menu-column-link">Serve-ware</a>
						<a href="" class="mega-menu-column-link">Seating</a>
						<a href="" class="mega-menu-column-link">Tables</a>
						<a href="" class="mega-menu-column-link">Accents and Decor</a>
						<a href="" class="mega-menu-column-link">Storage</a>
						<a href="" class="mega-menu-column-link">Beds and Bedroom</a>
						<a href="" class="mega-menu-column-link">Outdoor</a>
						<a href="" class="mega-menu-column-link">Office and Study</a>
						<a href="" class="mega-menu-column-link">Swings</a>
						<a href="" class="mega-menu-column-link">Media</a>
					</div>
				</div>
				<div class="mega-menu-column">
					<h3 class="mega-menu-column-title">Shop by function</h3>
					<div class="mega-menu-column-content">
						<a href="" class="mega-menu-column-link">All</a>
						<a href="" class="mega-menu-column-link">Lounge</a>
						<a href="" class="mega-menu-column-link">Host</a>
						<a href="" class="mega-menu-column-link">Feast</a>
						<a href="" class="mega-menu-column-link">Rest</a>
						<a href="" class="mega-menu-column-link">Organize</a>
						<a href="" class="mega-menu-column-link">Inspire</a>
						<a href="" class="mega-menu-column-link">Study</a>
						<a href="" class="mega-menu-column-link">Outdoor</a>
						<a href="" class="mega-menu-column-link">Giftables</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>