<div class="moving-line">
    <div class="moving-line-track">
        <div class="moving-line-content">
            <span class="moving-line-item">Skillfully crafted</span>
            <svg class="moving-line-separator" viewBox="0 0 81 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40.1865" cy="36" r="36" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="36" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="18" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="54" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="56.095" cy="27.4919" r="18" transform="rotate(61.7921 56.095 27.4919)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="24.3714" cy="44.5082" r="18" transform="rotate(61.7921 24.3714 44.5082)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 17.0166 3.12146)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 48.7412 20.1378)" stroke="#C07E4E" stroke-width="1.5"/>
            </svg>
            <span class="moving-line-item">Exquisitely detailed</span>
            <svg class="moving-line-separator" viewBox="0 0 81 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40.1865" cy="36" r="36" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="36" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="18" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="54" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="56.095" cy="27.4919" r="18" transform="rotate(61.7921 56.095 27.4919)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="24.3714" cy="44.5082" r="18" transform="rotate(61.7921 24.3714 44.5082)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 17.0166 3.12146)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 48.7412 20.1378)" stroke="#C07E4E" stroke-width="1.5"/>
            </svg>
            <span class="moving-line-item">Mindfully created</span>
            <svg class="moving-line-separator" viewBox="0 0 81 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40.1865" cy="36" r="36" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="36" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="18" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="40.2334" cy="54" r="18" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="56.095" cy="27.4919" r="18" transform="rotate(61.7921 56.095 27.4919)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="24.3714" cy="44.5082" r="18" transform="rotate(61.7921 24.3714 44.5082)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 17.0166 3.12146)" stroke="#C07E4E" stroke-width="1.5"/>
                <circle cx="18" cy="18" r="18" transform="matrix(-0.472673 0.881238 0.881238 0.472673 48.7412 20.1378)" stroke="#C07E4E" stroke-width="1.5"/>
            </svg>
            <span class="moving-line-item">Immaculately finished</span>
        </div>
    </div>
</div>