<% import "../modules/product-card.html" as productCard %>

<div class="search-overlay">
    <div class="container">
        <div class="search-content">
            <div class="search-head">
                <div class="search-field-wrap">
                    <a href="" class="search-field-action">
                        <svg class="search-field-action-icon">
                            <use href="m/i/icons.svg#symbol-magnifier"></use>
                        </svg>
                    </a>
                    <input type="text" class="search-field" placeholder="Search">
                    <a href="" class="search-close">
                        <svg class="search-close-icon">
                            <use href="m/i/icons.svg#symbol-times"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="search-body">
                <div class="search-suggestions">
                    <h3 class="search-suggestions-title">People Also Search for</h3>
                    <div class="search-suggestions-list">
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Zen Sofa</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Chesterfield Sofa - Large</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Yusra Sofa - Art of the Curve</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Hong Kong 3 Seater Sofa</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Double Zen Sofa</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Phillipe Nigro Rattan 3 Seater Sofa</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">Fluted Leather Sofa - 4 Seater</span>
                        </a>
                        <a href="" class="search-suggestions-item">
                            <svg class="search-suggestions-item-icon">
                                <use href="m/i/icons.svg#symbol-magnifier"></use>
                            </svg>
                            <span class="search-suggestions-item-text">SL Double Sofa</span>
                        </a>
                    </div>
                </div>
                <div class="search-recommendations">
                    <$ productCard.productCard("1", "Aztec - 2 Tiered Trolley (flat pack)", 4) $>
                    <$ productCard.productCard("2", "Piyasi Chirya - Chip n Dip", 3) $>
                    <$ productCard.productCard("3", "Zen Garden - Tray", 4) $>
                    <$ productCard.productCard("4", "Peetal ka Piyala - Chip n Dip", 3) $>
                    <$ productCard.productCard("5", "Retro Vibes - tray", 5) $>
                    <$ productCard.productCard("6", "Mashrabiya - 2 tiered trolley", 3) $>
                    <$ productCard.productCard("7", "Karre Natural - 2 tiered trolley", 4) $>
                    <$ productCard.productCard("8", "Gulmohar (Mussaweri) - Tray", 5) $>
                </div>
            </div>
        </div>
    </div>
</div>