.spaces-action {
    @media (min-width: 1470px) {
        margin-block-start: -2rem;
    }
}

.spaces-action .button {
    width: fit-content;
}

.space-card {
    @include hover-active-element('.space-card-media::after') {
        top: -4rem;
    }
}

.space-card-media {
    @include shimmer;
}

.space-card-img {
    width: 100%;
    border-radius: .5rem;
}

.space-card-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @media (min-width: 1200px) {
        gap: 2rem;
    }
}

.space-card-title {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
}