.spotlights-slider {
    .swiper-slide {
        width: 64%;
        @media (min-width: 768px) {
            width: 31%;
        }
        @media (min-width: 1200px) {
            width: 30%;
        }
    }
}

.spotlight-card {
    --spotlight-card-title-underline-w: 3rem;
    @media (min-width: 768px) {
        --spotlight-card-title-underline-w: 7rem;
    }
    @media (min-width: 1470px) {
        --spotlight-card-title-underline-w: 10rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-block-end: .6rem;
    @media (min-width: 768px) {
        gap: 2.5rem;
    }
    @media (min-width: 1200px) {
        padding-block-end: 1.1rem;
    }
    @media (min-width: 1470px) {
        gap: 4rem;
    }
    @include hover-active-element('.spotlight-card-title::after') {
        width: var(--spotlight-card-title-underline-w);
    }
}

.spotlight-card-img {
    width: 100%;
    border-radius: .5rem;
}

.spotlight-card-title {
    position: relative;
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    font-family: var(--font-heading);
    color: var(--color-deep-clay);
    margin: 0;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 0;
        width: 0;
        height: 1px;
        border-radius: 2px;
        background-color: var(--color-warm-copper);
        transition: width 300ms ease;
        @media (min-width: 1200px) {
            top: calc(100% + 1rem);
        }
    }
}