html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    &.noscroll {
        overflow-y: hidden;
    }

}

.main {
    flex: 1 0 auto;
}

.container, .container-fluid {
    padding-inline-start: var(--bs-gutter-x);
    padding-inline-end: var(--bs-gutter-x);
}

a {
    &:link,
    &:visited {
        text-decoration: none;
    }
}