html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    &.noscroll {
        overflow-y: hidden;
    }

}

.main {
    flex: 1 0 auto;
}

.container, .container-fluid {
    padding-inline-start: var(--bs-gutter-x);
    padding-inline-end: var(--bs-gutter-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--fw-regular);
}

a {
    &:link,
    &:visited {
        text-decoration: none;
    }
}

.innerpage {
    padding-block-start: 12.2rem;
    @media (min-width: 768px) {
        padding-block-start: 14.2rem;
    }
    @media (min-width: 1200px) {
        padding-block-start: 16.2rem;
    }
    @media (min-width: 1470px) {
        padding-block-start: 21.5rem;
    }
}